{% extends 'base.html.twig' %}

{% block stylesheets %}
   <link href="{{ asset('css/homepage/homepage.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
<section class="item">
    <div class="container">
        <div class="row">
            <div id="title_block" class="title_block col-lg-12">
                <h3 class="title_page">Les articles du sites:</h3>
            </div>
            <div class="items row">
                {% for item in items %}
                    <div class="blockItem card-deck col-lg-3 col-xs-12">
                        <div class="card border-0 shadow">
                            <img class="card-img-top img_item col-xs-12"
                                 src="img/imgPost/{{ item.name }}.{{ item.extension }}"
                                 alt="{{ item.description }}" />
                            <div class="col-lg-12 col-xs-12 text-center">
                                <a class="title_item col-xs-6"
                                    href="{{ path('app_detail', {id: item.id}) }}">
                                    {{ item.title|slice(0,8) }}
                                </a>
                                {% if is_granted('ROLE_USER') %}
                                    <a class="modify_item fa fa-pen-fancy col-xs-3"
                                       href="{{ path('app_modify', {id: item.id}) }}">
                                    </a>
                                    <a class="delete_item fa fa-trash-alt text-right col-xs-3"
                                       href="{{ path('app_delete_article', {id: item.id}) }}">
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
    <section class="more_item">
        <div class="container">
            <div class="block_btn_more text-center col-xs-12">
                <button id="btn-more" class="btn"><i class="fa fa-angle-down"></i>Afficher plus</button>
            </div>
            {% if numberItems >= 15 %}
                <div class="block_ancre_bottom text-right">
                    <a href="#title_block" class="ancre_bottom far fa-arrow-alt-circle-up fa-2x"></a>
                </div>
            {% endif %}
        </div>
    </section>

{% endblock %}

 {% block javascripts %}
     <script>
         $(document).ready(function(){
             let number_article_load = 9;
             let number_items = {{ numberItems }};
             if (number_article_load >= number_items) {
                $(".more_item").hide();
             }
             $(".ancre_bottom").hide(),
             $("#btn-more").click(function(e){
                 $(".ancre_bottom").slideToggle("slow");
                 e.preventDefault();
                 $.ajax({
                     url : '{{ path('app_homepage_pagination') }}',
                     type : 'POST',
                     data : 'numberArticleLoad=' + number_article_load,
                     dataType : 'text',

                     success : function(code_html){ // success est toujours en place, bien sûr !
                         let newItems = JSON.parse(code_html);
                         number_article_load += 5;

                         for (let i = 0; i < newItems.length; i++) {
                             let path_detail_article = "{{ path('app_detail', { id: 'newItemId' }) }}";
                             path_detail_article = path_detail_article.replace(/newItemId/gi, newItems[i].id );

                             let title_article = newItems[i].title;
                             title_article = title_article.substr(0, 8);

                             let path_modify_article = "{{ path('app_modify', {id:  'newItemId' }) }}";
                             path_modify_article = path_modify_article.replace(/newItemId/gi, newItems[i].id );

                             let path_delete_article = "{{ path('app_delete_article', {id: 'newItemId' }) }}";
                             path_delete_article = path_delete_article.replace(/newItemId/gi, newItems[i].id );

                             jQuery('.items').append('<div class="blockItem card-deck col-lg-3 col-xs-12">' +
                                 '<div class="card border-0 shadow">' +
                                 '<img class="card-img-top img_item col-xs-12" ' +
                                 'src="img/imgPost/' + newItems[i].name +'.'+ newItems[i].extension +'" ' +
                                 'alt="'+ newItems[i].description +'" />' +
                                 '<div class="col-lg-12 col-xs-12 text-center">' +
                                 '<a class="title_item col-xs-6" '+
                                 'href="'+ path_detail_article +'">' +
                                 title_article +
                                 '</a>' +
                                 '{% if is_granted('ROLE_USER') %}' +
                                 '<a class="modify_item fa fa-pen-fancy col-xs-3"' +
                                 'href="'+ path_modify_article +'">' +
                                 '</a> '+
                                 '<a class="delete_item fa fa-trash-alt text-right col-xs-3" ' +
                                 ' href="'+ path_delete_article +'"> ' +
                                 '</a>'+
                                 '{% endif %}');
                         }

                     },
                     error : function(resultat, statut, erreur){
                         console.log('merde:' +resultat + ' et ' +statut + ' et ' + erreur);
                     },
                     complete : function(resultat, statut){

                     },
                 })
             });
         });
     </script>
 {% endblock %}

