{% extends 'base.html.twig' %}

{% block stylesheets %}

{% endblock %}

{% block body %}
    <section class="container">


        <div class="row picturesAndMovies">
            {% for picture in pictures %}
                <div class="block_of_the_pictures col-sm-3">
                    <div class="img_id_{{ picture.id }}">
                        <img class="col-sm-12" name="{{ picture.id }}" src="/img/imgPost/{{ picture.name }}.{{ picture.extension }}" alt="{{ picture.description }}"/>
                    </div>
                    <div>
                        <a class="add_the_input_picture" name="{{ picture.id }}" href="#">modifier</a>
                        <a class="delete_the_picture" name="{{ picture.id }}" href="#">Supprimer</a>
                    </div>
                </div>
            {%  endfor %}
            {% for movie in movies %}
                <div class="block_of_the_movies">
                    <div class="link_id_{{ movie.id }}">
                        <iframe name="{{ movie.id }}"
                                src="{{ movie.link }}"
                                frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen>

                        </iframe>
                    </div>
                    <div>
                        <a class="add_the_input_movie" name="{{ movie.id }}" href="#">modifier</a>
                        <a class="delete_the_link" name="{{ movie.id }}" href="#">Supprimer</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="new_input_files"></div>
        <div class="block_input_img">
            <button id="btn_input_img"> Valider les images </button>
            <button id="btn_input_link"> Valider les liens </button>
        </div>


        <!-- ajout de nouvelles photo et de nouveaux liens -->
        {{ form_start(form) }}

        <div class="pictureBlock col-xs-12">
            {{ form_label (form.files) }}
            <ul id="files-fields-list" class="col-xs-12"
                data-prototype-files=" {{ form_widget( form.files.vars.prototype )| e }} "
                data-widget-files-tags=" {{ '<li></li>' | e }} "
                data-widget-files-counter= "0">
                {% for filesField in form.files %}
                    <li class="files_class">
                        {{ form_errors ( filesField ) }}
                        {{ form_widget ( filesField ) }}
                    </li>
                {% endfor %}
            </ul>
            <div>
                <button type="button"
                        class="add-another-collection-widget-files btn btn-warning"
                        data-list-selector="#files-fields-list">Ajouter une autre photo</button>
                <button type="button"
                        class="remove-another-collection-widget-files btn btn-warning"
                        data-list-selector="#files-fields-list">Supprimer la dernière photo</button>
            </div>
        </div>

        {{ form_label (form.movies) }}
        <ul id="movies-fields-list"
            data-prototype=" {{ form_widget( form.movies.vars.prototype )| e }} "
            data-widget-tags=" {{ '<li></li>' | e }} "
            data-widget-counter="0" >
            {% for moviesField in form.movies %}
                <li class="movies_class">
                    {{ form_errors( moviesField ) }}
                    {{ form_widget( moviesField ) }}
                </li>
            {% endfor %}
        </ul>
        <div>
            <button type="button"
                    class="add-another-collection-widget btn btn-warning"
                    data-list-selector="#movies-fields-list">Ajouter un autre lien</button>
            <button type="button"
                    class="remove-another-collection-widget btn btn-warning"
                    data-list-selector="#movies-fields-list">Supprimer le lien</button>
        </div>


        <!-- reste du formulaire -->


        {{ form_end(form) }}

       <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Supprimer
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Suppression de l'article</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        être vous sur de vouloir supprimer l'article ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
        <a href="{{ path('app_delete_article', {id: idItem}) }}">
            <button type="button" class="btn btn-warning" >Supprimer</button>
        </a>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block javascripts %}
    <script>
        jQuery(document).ready( function () {
            //permet l'affichage du formulaire de modification des images
            jQuery('.add_the_input_picture').click( function(e) {
                let name_of_picture = $(this).attr('name');

                jQuery('.new_input_files').append('<div class="preview">\n' +
                    '    <p>Aucun fichier sélectionné pour le moment</p>\n' +
                    '  </div>' +
                    '<label for="input_new_file">nouveau fichier</label>' +
                    '<input type="file" ' +
                    'id="input_new_file" ' +
                    'class="input_new_file" ' +
                    'name="'+ name_of_picture +'"/>' +
                    '<button id = "fileSelect"> Valider le fichier </button>');

                    e.preventDefault(); // empêche la navigation vers "#"
                    // permet l'affichage des photos modifié
                    jQuery('#fileSelect').click( function (e) {
                        let block_new_input = document.querySelector('.new_input_files')
                        let fichierSelectionne = document.querySelector('#input_new_file');
                        let preview = document.querySelector('.preview');

                        let name_of_picture_modify = document.querySelector('.img_id_'+name_of_picture+'');

                        new HandleFiles(fichierSelectionne, preview, name_of_picture_modify, name_of_picture, block_new_input);
                    });

            });

            // affiche le boutton de modification d'une video
            jQuery('.add_the_input_movie').click(function(e) {
                let name_of_movie = $(this).attr('name');

                jQuery('.new_input_files').append('<div class="preview">\n' +
                    '    <p>Aucun lien sélectionné pour le moment</p>\n' +
                    '  </div>' +
                    '<label for="input_new_url">nouveau lien</label>' +
                    '<input type="url" ' +
                    'id="input_new_url" ' +
                    'class="input_new_url" ' +
                    'name="'+ name_of_movie +'"/>' +
                    '<button id = "fileSelectMovie"> Valider le lien </button>');

                    e.preventDefault(); // empêche la navigation vers "#"
                    jQuery('#fileSelectMovie').click( function () {
                        let block_input_movie = document.querySelector('.link_id_'+name_of_movie);
                        let urlSelect = document.querySelector('#input_new_url');
                        let preview = document.querySelector('.preview');
                        let block_input = document.querySelector('.new_input_files');

                        new ManageLink(block_input_movie, urlSelect, preview, block_input);
                    });
            });

            //fonction permettant l'enregistrement des photos par le serveur
            jQuery('#btn_input_img').click( function(e) {
                e.preventDefault();
                let imgs = document.querySelectorAll(".obj");
                for (let i = 0; i < imgs.length; i++) {
                    new FileUpload(imgs[i], imgs[i].file);
                }
            });

            //function récupérant les différents lien modifié
            jQuery('#btn_input_link').click( function(e) {
                e.preventDefault();
                let new_link = document.querySelectorAll('.new_link');
                for(let i = 0; i < new_link.length; i++) {
                    new LinkUpload(new_link[i].name, new_link[i].src);
                }
            });

            //recuperation des elements pour la suppression des images
            jQuery('.delete_the_picture').click( function(e) {
               e.preventDefault();
               let name_of_picture = $(this).attr('name');
               let picture_delete = document.querySelector('.img_id_'+name_of_picture);
               new DeletePicture(name_of_picture);

               $(picture_delete).parent().remove();
            });

            //recuperation des elements pour la suppression de lien
            jQuery('.delete_the_link').click( function(e) {
                e.preventDefault();
                let name_of_link = $(this).attr('name');
                let link_delete = document.querySelector('.link_id_'+name_of_link);
                new DeleteMovie(name_of_link);

                $(link_delete).parent().remove();
            });

            //function traitant les liens
            function ManageLink(input_movie, url, preview, block_input) {
                while(preview.firstChild) {
                    preview.removeChild(preview.firstChild);
                }
                let src = url.value;

                if(src.length === 0) {
                    var para = document.createElement('p');
                    para.textContent = 'Aucun lien actuellement sélectionné pour le téléchargement';
                    preview.appendChild(para);
                } else {
                    while (block_input.firstChild) {
                        block_input.removeChild(block_input.firstChild);
                    }
                }
                let movie = input_movie.querySelector('iframe');
                $(movie).attr('src', src);
                movie.setAttribute('class', "new_link");
            }

            //function use of the page.
            function HandleFiles(fichiersSelectionne, preview, name_of_picture_modify, name_of_picture, block_new_input ) {
                while(preview.firstChild) {
                    preview.removeChild(preview.firstChild);
                }

                var files = fichiersSelectionne.files;

                if(files.length === 0) {
                    var para = document.createElement('p');
                    para.textContent = 'Aucun fichier actuellement sélectionné pour le téléchargement';
                    preview.appendChild(para);
                } else {
                    while (name_of_picture_modify.firstChild) {
                        name_of_picture_modify.removeChild(name_of_picture_modify.firstChild);
                    }
                    while (block_new_input.firstChild) {
                        block_new_input.removeChild(block_new_input.firstChild);
                    }

                    for (var i = 0; i < files.length; i++) {

                        var file = files[i];

                        var imageType = /^image\//;

                        if (!imageType.test(file.type)) {
                            continue;
                        }
                        var img = document.createElement("img");
                        img.classList.add("obj");
                        img.setAttribute('name', name_of_picture);
                        img.setAttribute('class', "obj col-sm-12");
                        img.file = file;
                        name_of_picture_modify.appendChild(img); // En admettant que "img" est l'élément div qui contiendra le contenu affiché.

                        var reader = new FileReader();
                        reader.onload = (function(aImg) { return function(e) { aImg.src = e.target.result; }; })(img);
                        reader.readAsDataURL(file);

                    }
                }
            }
            //fonction permettant l'envoie au serveur
            function FileUpload(img, file) {
                $.ajax({
                    url : '{{ path('app_modified_image_processing') }}',
                    type : 'POST',
                    data : 'name=' + img.name +
                        '&src=' + img.src +
                    '&type=' + file['type'],
                    dataType : 'text',

                    success : function(code_html, statut){ // success est toujours en place, bien sûr !
                        console.log('felicitation:' +code_html +' et '+ statut);
                    },
                    error : function(resultat, statut, erreur){
                        console.log('merde:' +resultat + ' et ' +statut + ' et ' + erreur);
                    },
                    complete : function(resultat, statut){
                        console.log('marche' + resultat + 'et' + statut);
                    },
                });
            }

            //Function permettant l'envoie au serveur
            function LinkUpload(name_link_Modify, src_link_modify) {
                $.ajax({
                    url : '{{ path('app_modified_link_processing') }}',
                    type : 'POST',
                    data : 'name=' + name_link_Modify +
                        '&src=' + src_link_modify,
                    dataType : 'text',

                    success : function(code_html, statut){ // success est toujours en place, bien sûr !
                        console.log('felicitation:' +code_html +' et '+ statut);
                    },
                    error : function(resultat, statut, erreur){
                        console.log('merde:' +resultat + ' et ' +statut + ' et ' + erreur);
                    },
                    complete : function(resultat, statut){
                        console.log('marche' + resultat + 'et' + statut);
                    },
                });
            }

            //function permettant l'envoie au serveur de la photo a supprimer
            function DeletePicture(name_picture) {
                $.ajax({
                    url : '{{ path('app_deleted_picture') }}',
                    type : 'POST',
                    data : 'name=' + name_picture,
                    dataType : 'text',

                    success : function(){
                        console.log('felicitation sa a fonctionné');
                    },
                    error : function(resultat, statut, erreur){
                        console.log('merde:' +resultat + ' et ' +statut + ' et ' + erreur);
                    },
                    complete : function(resultat, statut){
                        console.log('marche' + resultat + 'et' + statut);
                    },
                });
            }

            //function permettant l'envoie au serveur du lien a supprimer
            function DeleteMovie(link_delete) {
                $.ajax({
                    url : '{{ path('app_deleted_movie') }}',
                    type : 'POST',
                    data : 'name=' + link_delete,
                    dataType : 'text',

                    success : function(code_html, statut){ // success est toujours en place, bien sûr !
                        console.log('felicitation:' +code_html +' et '+ statut);
                    },
                    error : function(resultat, statut, erreur){
                        console.log('merde:' +resultat + ' et ' +statut + ' et ' + erreur);
                    },
                    complete : function(resultat, statut){
                        console.log('marche' + resultat + 'et' + statut);
                    },
                });
            }

            //ajout et suppression des nouvelle images et des liens

            jQuery ('.add-another-collection-widget').click( function(e) {
                var list = jQuery( jQuery(this).attr('data-list-selector'));
                // Try to find the counter of the list or use the length of the list
                var counter = list.data('widget-counter') || list.children().length ;
                // grab the prototype template
                var newWidget = list.attr('data-prototype');
                // replace the "__name__" used in the id and name of the prototype
                // with a number that's unique to your movie
                // end name attribute looks like name="contact[movies][2]"
                newWidget = newWidget.replace( /__name__/g, counter );
                // Increase the counter
                counter ++ ;
                // And store it, the length cannot be used if deleting widgets is allowed
                list.data( 'widget-counter', counter );

                // create a new list element and add it to the list
                var newElem = jQuery(list.attr('data-widget-tags' )).html(newWidget );
                newElem.appendTo(list );
            });
            jQuery ('.remove-another-collection-widget').click( function(e) {
                $('.movies-box').last().parent().remove();
            });
            jQuery ('.add-another-collection-widget-files').click( function(e) {
                var filesList = jQuery( jQuery(this).attr('data-list-selector'));

                var filesCounter = filesList.data('widget-files-counter') || filesList.children().length ;

                var newFilesWidget = filesList.attr('data-prototype-files');

                newFilesWidget = newFilesWidget.replace( /__name__/g, filesCounter );

                filesCounter ++ ;

                filesList.data( 'widget-files-counter', filesCounter );

                var newFilesElem = jQuery(filesList.attr('data-widget-files-tags' )).html(newFilesWidget );
                newFilesElem.appendTo(filesList );
                $("input[type=file]").change(function (e){
                    $(this).next('.custom-file-label').text(e.target.files[0].name);
                });
                $(".custom-file-label" ).attr( "data-browse", "Choisir" );
            });
            jQuery ('.remove-another-collection-widget-files').click( function(e) {
                $('.custom-file').last().parent().remove();
            });
        });
    </script>
{% endblock %}