{% extends 'baseTwo.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/article/createdArticle.css') }}" rel="stylesheet" />
{% endblock %}

{% block title %}Create article{% endblock %}

{%  block body %}
    <section class="createArticle container">
        <div class="block-item row">
            <div class="container">
                <h1 class="title_of_page text-center">Création d'un article:</h1>

            <!--Article creation form-->
                <div>
                    {{ form_start(form) }}

                    <div class="block_title_form">
                        {{ form_row (form.title) }}
                        <p class="log_create_article_form_title"></p>
                    </div>

                    <!--image recovery section-->
                    <div class="picture_block">
                        {{ form_label (form.uploadFile, '', {'label': 'Image (taille max: 2mo, type: jpg, jpeg, png)'} ) }}
                        <ul id="uploadFile-fields-list" class="col-xs-12"
                            data-prototype-uploadFile=" {{ form_widget( form.uploadFile.vars.prototype )| e }} "
                            data-widget-uploadFile-tags=" {{ '<li></li>' | e }} "
                            data-widget-uploadFile-counter= "0">
                            {% for uploadFileField in form.uploadFile %}
                                <li class="uploadFile_class">
                                    {{ form_errors ( uploadFileField ) }}
                                    {{ form_widget ( uploadFileField ) }}
                                </li>
                            {% endfor %}
                        </ul>
                        <div class="col-sm-12 text-center">
                            <button type="button"
                                    class="add-another-collection-widget-uploadFile btn btn-warning"
                                    data-list-selector="#uploadFile-fields-list">Ajouter une autre photo</button>
                            <button type="button"
                                    class="remove-another-collection-widget-uploadFile btn btn-danger"
                                    data-list-selector="#uploadFile-fields-list">Supprimer la dernière photo</button>
                        </div>
                    </div>

                    <!--part concerning the recovery of video links-->
                    <div class="link_block">
                        {{ form_label (form.linkUploaded, '', {'label': 'Lien vidéo'} ) }}
                        <ul id="linkUploaded-fields-list"
                            data-prototype=" {{ form_widget( form.linkUploaded.vars.prototype )| e }} "
                            data-widget-tags=" {{ '<li></li>' | e }} "
                            data-widget-counter="0" >
                            {% for linkUploadedField in form.linkUploaded %}
                                <li class="linkUploaded_class">
                                    {{ form_errors( linkUploadedField ) }}
                                    {{ form_widget( linkUploadedField ) }}
                                </li>
                            {% endfor %}
                        </ul>
                        <div class="col-sm-12 text-center">
                            <button type="button"
                                    class="add-another-collection-widget btn btn-warning"
                                    data-list-selector="#linkUploaded-fields-list">Ajouter un autre lien</button>
                            <button type="button"
                                    class="remove-another-collection-widget btn btn-danger"
                                    data-list-selector="#linkUploaded-fields-list">Supprimer le lien</button>
                        </div>
                    </div>

                    <div class="block_chapo">
                        {{ form_row (form.chapo) }}
                        <p class="log_create_article_form_chapo"></p>
                    </div>

                    {{ form_row (form.content) }}

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Valider</button>
                    </div>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <!-- add and remove collection widget from the form -->
    <script src="{{ asset('js/functionJs/collectionWidgetFile.js') }}"></script>
    <script src="{{ asset('js/functionJs/collectionWidgetVideoLink.js') }}"></script>
    <!--allows to display the number of characters authorized for an input field-->
    <script src="{{ asset('js/functionJs/flangeForInput.js') }}"></script>
{% endblock %}